*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #212321;
    background-image: linear-gradient(#0B0C10,#151720,#1F2833,#273a4a);
    padding: 0px;
    min-height: 100vh;
}
img.clickables{
    width: 40px;
    height: auto;
    margin-top: 5px;
    margin-left: 140px;
    filter: invert(52%) sepia(8%) saturate(2620%) hue-rotate(127deg) brightness(122%) contrast(96%);
}
a.conts{
    color: #dadada;
    text-align: left;
    float: left;
    max-width: 800px;
    font-weight: 180;
    font-size: 20px;
    text-decoration: none;
}
img.contacts{
    width: 40px;
    height: auto;
    margin-right: 15px;
    filter: invert(52%) sepia(8%) saturate(2620%) hue-rotate(127deg) brightness(122%) contrast(96%);
}
img.projects{
    width: 280px;
    height: 280px;
    float: left;
    border: 2px solid;
    border-color: #3dc0b9;
    border-radius: 15px 15px 15px 15px;
    margin-left: 200px;
    margin-top: 120px;
    justify-content: left;
   
}

.img-fluid{
    max-width: 350px;
    float: right;
    border: 5px solid;
    border-color: #3dc0b9;
    border-radius: 45px 45px 45px 45px;
    border-width: thick;
    margin-right: 200px;
    margin-top: 150px;
}

p.mirror{
    margin-top: 0px;
}

img.guitar{
    width: 380px;
    margin-left: 100px;
    border-color: #3dc0b9;
    border-radius: 5px 5px 5px 5px;
    border-width: thick;
    margin-right: 180px;
}

.home{
    margin-top: 200px;
    color: #dadada;
    margin-left: 150px;
    text-align: left;
    float: left;
    max-width: 650px;
    font-weight: 180;
    font-size: 20px;
}

.homeText{
    font-size: 34px;
    font-weight: 200;
    color: #dadada;
    justify-content: left;
    text-align: left;
}

.parText{
    color: #dadada;
    justify-content: left;
    font-weight: 150;
    font-size: 18px;
    text-align: left;
    
}

span.cover{
    color: #3dc0b9;
}

span.name{
    font-size: 44px;
    color: #3dc0b9;
}

[class*="navbar"]{
    padding: 1rem;
    border-bottom : 2px solid #dadada;
    color: black;
    
}

.nav-item {
    font-size: 25px;
}

.nav-link{
    font-weight: 150;
    color: white;
}

[class*="nav-link active"]{
    font-weight: 150;
    color: #3dc0b9;
}

h1.nav {
    color: #3dc0b9;
    font-weight: 150;
}
h1.titles {
    color: #3dc0b9;
    font-weight: 180;
    text-align: left;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 150px;
    margin-left: 150px;
}


ul.nav a:hover{ color:#156e6a;}

p.para{
    color: #dadada;
    margin-left: 150px;
    text-align: left;
    float: left;
    max-width: 700px;
    font-weight: 180;
    font-size: 20px;
    margin-right=: 150px;
   
    
}

span.para{
    color: #dadada;
    font-weight: 180;
    font-size: 20px;
    margin-bottom: 150px;
    margin-top: 150px;
    
  }
  p.titles {
    color: #3dc0b9;
    font-weight: 380;
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 125px;
    text-align: left;
    float: left;
    font-size: 30px;
    max-width: 700px;
  }
  


